.AdminView {
  color: #255A97;
  font-size: 20px;
}

h1 {
  text-align: center;
}

.center {
  margin: auto;
}

.user-link {
  position: absolute;
  top: 8px;
  right: 0;
  text-decoration: none;
  transform: rotate(45deg);
}

button {
  background-color: #7161C1;
  color: white;
  border-radius: 50%;
  font-size: 16px;
  transition-duration: 0.4s;
  width: 100px;
  height: 70px;
  border-color: white;
}

button:hover {
  border-radius: 3px;
  background-color: white;
  color: #0A56B0;
  border: 2px solid #3682f4;
}

textarea {
  box-sizing: border-box;
  width: 70%;
  height: 70%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  row-gap: 10px;
}

.grid-item-1 {
  grid-column: auto / span 1;
}

.grid-item-3 {
  grid-column: auto / span 3;
}

.grid-item-4 {
  grid-column: auto / span 4;
}
