.UserView {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  transition: background-color 1s ease;
}

.quote {
  transition: color 1s ease;
}

.admin-link {
  position: absolute;
  top: 12px;
  right: 0;
  text-decoration: none;
  transform: rotate(45deg);
}

